body {
    text-align: center;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.score {
    text-transform: uppercase;
    font-size: 25px;
    font-weight: bold;
    margin-bottom: 0;
}